#######################################
# Visual Studio
#######################################

.vs/
*.user
*.suo

#######################################
# .NET
#######################################

**/bin/
**/obj/

#######################################
# Database files
#######################################

*.mdf
*.ldf

#######################################
# Angular / Node.js
#######################################

**/node_modules/
**/dist/
**/build/
**/coverage/

#######################################
# npm / yarn logs
#######################################

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#######################################
# Environment files
#######################################

.env
.env.local

#######################################
# OS files
#######################################

.DS_Store
Thumbs.db

**/.angular/

*.mdf
*.ldf